ErrorDocument 404 /404.html

<Files "password.txt">  
Order Allow,Deny
Deny from All
</Files>

<Files ".gitignore">  
Order Allow,Deny
Deny from All
</Files>

<Files ".gitattributes">  
Order Allow,Deny
Deny from All
</Files>