body {
  position: relative;
  background-color: #ffbb54;
  font-family: Arial;
  min-height: 100vh;
  
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

div.content {
  display: block;
  padding-top: 20px;
  padding-bottom: 80px;
  margin-left: 10px;
  margin-right: 10px;
}

div.topbar {
  display: table-row;
  overflow: auto;
  width: 100%;
  position: fixed;
  background-color: #ff9100;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 10;
}

div.topbar topitem {
  display: table-cell;
  vertical-align: middle;
  color: #ffffff;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
}

div.topbar topitem.header {
  background-color: #ff8200;
  color: #ffffff;
  font-size: 32px;
  font-weight: bold;
  vertical-align: middle;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}

div.topbar topitem.label {
  background-color: #ff8200;
  color: #ffffff
  font-size: 16px;
  padding-right: 20px;
  font-weight: bold;
}

div.topbar topitem.label span {
  background-color: #ff5400;
  padding: 10px;
  border-radius: 5px;
}

div.topbar topitem.page {
  border-left: 1px solid #ffffff;
  padding: 0px;
}

div.topbar topitem.user-dropdown {
  width:100%;
  text-align: right;
}

topitem.page a {
  padding: 20px;
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  
  transition: all 0.1s ease-in-out;
}

topitem.page.current a {
  background-color: #ff7a00;
}

topitem.page a:hover {
  background-color: #ff6a00;
}

topitem.page img {
  vertical-align: bottom;
  height: 20px;
}

div.topbar topitem.user-dropdown div {
    display: inline-block;
    padding-left: 10px;
    border-radius: 5px;
    background-color: #ff5400;
}

topitem.user-dropdown select {
  border: none;
  border-radius: 5px;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ff5400;
  color: #ffffff;
  font-size: 16px;
  background-image: linear-gradient(#ff5400, #ff5400);
  
  cursor: pointer;
}
  
topitem.user-dropdown input {
    border: none;
    border-radius: 5px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ff5400;
    background-image: linear-gradient(#ff5400, #ff5400);
    color: #ffffff;
    font-size: 16px;
    
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

topitem.user-dropdown input:hover {
  background-color: #e94d00;
  background-image: linear-gradient(#e94d00, #e94d00);
}

div.bottombar {
  display: flex;
  justify-content: space-around;
  
  position: absolute;
  bottom: 0;
  width: 100%;
  
  background-color: #ff9100;
  color: #ffffff;
  border-top: 1px solid #ffffff;
}

div.bottombar bottomitem {
  width: 100%;
  white-space: nowrap;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  
  transition: all 0.1s ease-in-out;
}

div.bottombar bottomitem:hover {
  background-color: #ff6a00;
}

div.bottombar bottomitem a {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

bottomitem img {
  vertical-align: bottom;
  height: 20px;
}

div.toggle-container {
  display: flex;
  margin-top: 50px;
  width: 100%;
}

div.toggle {
  display: inline-block;
  font-weight: bold;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ff8200;
  color: #ffffff;
  cursor: pointer;

  white-space: nowrap;
  text-align: center;
  
  transition: all 0.1s ease-in-out;
}

div.toggle:hover {
  background-color: #ff7a00;
}

div.toggle.current {
  background-color: #ff6a00;
}

div.toggle img {
  height: 20px;
  vertical-align: bottom;
}

#calendar {
  display: block;
  background-color: #ffffff;
  padding: 20px;
  margin: 40px auto;
  margin-bottom: 10px;
}

/* Dark theme */

@media (prefers-color-scheme: dark) {
  
  body {
    background-color: #2f2f2f;
  }
  
  #calendar {
    color: #ffffff;
    background-color: #222222;
  }
  
}