:root {
  --primary: #ff9100;
  --secondary: #ff8200;
  --active: #ff7a00;
  --hover: #ff6a00;
  --label: #ff5400;
  --label-hover: #e94d00;
  --background: #ffbb54;
  --dark: #2f2f2f;
  --dark-secondary: #222222;
}

body {
  position: relative;
  background-color: var(--background);
  font-family: Arial;
  min-height: 100vh;
  
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

div.content {
  display: block;
  padding-top: 20px;
  padding-bottom: 80px;
  margin-left: 10px;
  margin-right: 10px;
}

div.topbar {
  display: table-row;
  overflow: auto;
  width: 100%;
  position: fixed;
  background-color: var(--primary);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 10;
  user-select: none;
}

div.topbar topitem {
  display: table-cell;
  vertical-align: middle;
  color: #ffffff;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
}

div.topbar topitem.header {
  background-color: var(--secondary);
  color: #ffffff;
  font-size: 32px;
  font-weight: bold;
  vertical-align: middle;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}

div.topbar topitem.label {
  background-color: var(--secondary);
  color: #ffffff;
  font-size: 16px;
  padding-right: 20px;
  font-weight: bold;
}

div.topbar topitem.label span {
  background-color: var(--label);
  padding: 10px;
  border-radius: 5px;
}

div.topbar topitem.page {
  border-left: 1px solid #ffffff;
  padding: 0px;
}

div.topbar topitem.user-dropdown {
  width:100%;
  text-align: right;
}

topitem.page a {
  padding: 20px;
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  
  transition: all 0.1s ease-in-out;
}

topitem.page.current a {
  background-color: var(--active);
}

topitem.page a:hover {
  background-color: var(--hover);
}

topitem.page img {
  vertical-align: bottom;
  height: 20px;
}

div.topbar topitem.user-dropdown div {
    display: inline-block;
    padding-left: 10px;
    border-radius: 5px;
    background-color: var(--label);
}

topitem.user-dropdown select {
  border: none;
  border-radius: 5px;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--label);
  color: #ffffff;
  font-size: 16px;
  background-image: linear-gradient(var(--label), var(--label));
  
  cursor: pointer;
}
  
topitem.user-dropdown input {
    border: none;
    border-radius: 5px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--label);
    background-image: linear-gradient(var(--label), var(--label));
    color: #ffffff;
    font-size: 16px;
    
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

topitem.user-dropdown input:hover {
  background-color: var(--label-hover);
  background-image: linear-gradient(var(--label-hover), var(--label-hover));
}

div.bottombar {
  display: flex;
  justify-content: space-around;
  
  position: absolute;
  bottom: 0;
  width: 100%;
  
  background-color: var(--primary);
  color: #ffffff;
  border-top: 1px solid #ffffff;
  user-select: none;
}

div.bottombar bottomitem {
  width: 100%;
  white-space: nowrap;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  
  transition: all 0.1s ease-in-out;
}

div.bottombar bottomitem:hover {
  background-color: var(--hover);
}

div.bottombar bottomitem a {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

bottomitem img {
  vertical-align: bottom;
  height: 20px;
}

div.toggle-container {
  display: flex;
  margin-top: 50px;
  width: 100%;
}

div.toggle {
  display: inline-block;
  font-weight: bold;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--primary);
  color: #ffffff;
  cursor: pointer;
  user-select: none;

  white-space: nowrap;
  text-align: center;
  
  transition: all 0.1s ease-in-out;
}

div.toggle:first-child {
  border-radius: 5px 0px 0px 5px;
}

div.toggle:last-child {
  border-radius: 0px 5px 5px 0px;
}

div.toggle:hover {
  background-color: var(--active);
}

div.toggle.current {
  background-color: var(--hover);
}

div.toggle img {
  height: 20px;
  vertical-align: bottom;
}

#calendar {
  display: block;
  background-color: #ffffff;
  padding: 20px;
  margin: 40px auto;
  margin-bottom: 10px;
}

/* Dark theme */

@media (prefers-color-scheme: dark) {
  
  body {
    background-color: var(--dark);
  }
  
  #calendar {
    color: #ffffff;
    background-color: var(--dark-secondary);
  }
  
}