body {
  color: #ffffff;
}

h1 {
  margin: 20px;
  margin-top: 50px;
  
  text-align: center;
  font-size: 10vmin;
  margin-bottom: 0px;
  
  background-color: var(--primary);
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
}

h2 {
  text-align: center;
  font-size: 5vmin;
}

img.picture {
  margin: 20px;      
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  height: 50vmin;
}