
.fc-button {
  background-color: #ff9100 !important;
  border: 0px !important;
}

.fc-button:hover {
  background-color: #ff6a00 !important;
}

.fc-button.fc-button-active {
  background-color: #ff5400 !important;
}
