
.fc-button {
  background-color: #ff9100 !important;
  border: 0px !important;
}

.fc-button:hover {
  background-color: #ff6a00 !important;
}

.fc-button.fc-button-active {
  background-color: #ff5400 !important;
}

.fc-event {
  overflow: hidden;
  margin-bottom: 0px !important;
}

.fc-timegrid-event-harness {
  border-radius: 3px;
  transition: 0.1s all ease-in-out;
}

.fc-timegrid-event-harness:hover {
  transform: scale(1.05);
  box-shadow: 5px 15px 30px 5px rgba(0,0,0,0.3);
}

.fc-timegrid-event-harness-inset .fc-timegrid-event {
  box-shadow: 0px 0px 0px 0px !important;
}

h2.fc-toolbar-title {
  text-align: center;
}

div.fc-toolbar-chunk {
  text-align: center;
}