.fc-button {
  background-color: var(--primary) !important;
  border: 0px !important;
}

.fc-button:hover {
  background-color: var(--hover) !important;
}

.fc-button.fc-button-active {
  background-color: var(--label) !important;
}

.fc-event {
  overflow: hidden;
  padding: 5px;
  margin-bottom: 0px !important;
}

.fc-timegrid-event-harness {
  border-radius: 3px;
  transition: 0.1s all ease-in-out;
}

.fc-timegrid-event-harness:hover {
  transform: scale(1.05);
  box-shadow: 5px 15px 30px 5px rgba(0,0,0,0.3);
}

.fc-timegrid-event-harness-inset .fc-timegrid-event {
  box-shadow: 0px 0px 0px 0px !important;
}

h2.fc-toolbar-title {
  text-align: center;
}

div.fc-toolbar-chunk {
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  .fc-scrollgrid-sync-inner {
    color: var(--dark-secondary);
  }
}