body {
  color: #FFFFFF;
}

h1 {
  font-size: 10vw;
  margin: 5px;
  margin-top: 10px;
  margin-bottom: 0px;
}

h2 {
  font-size: 3vw;
  display: inline-block;
  background-color: #ff5400;
  padding: 10px;
  border-radius: 5px;
}

h3 {
  font-size: 2.5vw;
  color: #393939;
  padding: 10px;
  border-radius: 5px;
}

.headerbar{
  background-color: #ff9900;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 40px;
  
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ffffff;
}

div.login {
  text-align: center;
  overflow: hidden;
  min-width: 400px;
  
  position: absolute;
  top: 10vh;
  left: 0;
  right: 0;
  margin: auto;
  width: 65vw;
  max-width: 1000px;
  
  border: 1px solid #dadada;
  border-radius: 0px 40px 0px 40px;
  background-color: #ff5400;
  
  padding-bottom: 25px;
}

.login input[type="password"] {
  height: 30px;
  width: 260px;
  border: 0px;
  border-radius: 20px;
  padding: 5px;
  
  font-size: 16px;
  text-align: center;
}

.login input[type="submit"] {
  height: 40px;
  width: 120px;
  border-radius: 5px;
  border: 0px;
  padding: 10px;
  margin: 20px;
  background-color: #4062ba;
  background-image: linear-gradient(#4062ba, #4062ba);
  color: #ffffff;
  font-size: 16px;
  
  transition: all 0.1s ease-in-out;
}

.login input[type="submit"]:hover {
  background-color: #294180;
  background-image: linear-gradient(#294180, #294180);
}
