.subject {
  color: #ffffff;
}

span.subject {
  padding: 5px;
  border-radius: 3px;
  white-space: nowrap;
}

a.subject {
  border-color: transparent;
}

.subject.KV {
  background-color: #96d1c6;
}

.subject.M {
  background-color: #2ea4d6;
}

.subject.E {
  background-color: #b30000;
}

.subject.D {
  background-color: #ebbe00;
}

.subject.BIUK {
  background-color: #1c7e29;
}

.subject.CH {
  background-color: #1cc6ad;
}

.subject.PH {
  background-color: #1c4f7e;
}

.subject.PUP {
  background-color: #c44567;
}

.subject.GWK {
  background-color: #6d4190;
}

.subject.GSPB {
  background-color: #aa5814;
}

.subject.BE {
  background-color: #4f3f2a;
}

.subject.REK {
  background-color: #0e0044;
}

.subject.REE {
  background-color: #0e0044;
}

.subject.ME {
  background-color: #e490e8;
}

.subject.INF-KAM {
  background-color: #775b2b;
}

.subject.INF-WER {
  background-color: #775b2b;
}

.subject.IT {
  background-color: #04c600;
}

.subject.L {
  background-color: #3b005b;
}

.subject.BSPK {
  background-color: #7d902f;
}

.subject.BSPM {
  background-color: #7d902f;
}

.subject.WPF-SPA {
  background-color: #5b0000;
}
