span.subject {
  padding: 5px;
  border-radius: 3px;
  color: #ffffff;
  white-space: nowrap;
}

a.subject {
  border-color: transparent;
}

.subject.KV {
  background-color: #00cda8;
}

.subject.VWA {
  background-color: #81a1a3;
}

.subject.M {
  background-color: #2ea4d6;
}

.subject.E {
  background-color: #b30000;
}

.subject.D {
  background-color: #ebbe00;
}

.subject.BIUK {
  background-color: #1c7e29;
}

.subject.CH {
  background-color: #1cc6ad;
}

.subject.CHL {
  background-color: #159c88;
}

.subject.PH {
  background-color: #1c4f7e;
}

.subject.PUP {
  background-color: #c44567;
}

.subject.GWK {
  background-color: #6d4190;
}

.subject.GSPB {
  background-color: #aa5814;
}

.subject.BE {
  background-color: #4f3f2a;
}

.subject.REK {
  background-color: #0e0044;
}

.subject.REE {
  background-color: #0e0044;
}

.subject.ME {
  background-color: #e490e8;
}

.subject.INFD {
  background-color: #7e1c5d;
}

.subject.INFH {
  background-color: #775b2b;
}

.subject.CAE {
  background-color: #ee8800;
}

.subject.IT {
  background-color: #04c600;
}

.subject.L {
  background-color: #3b005b;
}

.subject.BSPK {
  background-color: #7d902f;
}

.subject.BSPM {
  background-color: #7d902f;
}

.subject.WPF-SPA {
  background-color: #5b0000;
}

.subject.WPF-PUP {
  background-color: #d29cca;
}

.subject.WPF-ME {
  background-color: #ff79fe;
}

.subject.WPF-GSPB {
  background-color: #c36518;
}

.subject.WPF-BIUK {
  background-color: #125c36;
}

.subject.WPF-SPKU {
  background-color: #aec749;
}
