form#work_save {
  display: inline-block;
  min-width: 100%;
}

table {
  border-collapse: collapse;
  margin-top: 40px;
  width: 100%;
}

td, th {
  border: 1px solid #d9d9d9;
  
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

thead tr {
  font-weight: bold;
  text-align: left;
  height: 50px;
  background-color: #ff8200;
  color: #ffffff;
}

thead th {
  min-width: 50px;
}

thead th#th-subjects {
  min-width: 90px;
}

tr.odd {
  background-color: #ffffff;
}

tr.even {
  background-color: #f2f2f2;
}

tr.finished.odd {
  background-color: #a2e897;
  color: #ffffff;
}

tr.finished.even {
  background-color: #8cdb7f;
  color: #ffffff;
}

input.progress-submit {
  display: block;
  position: sticky;
  margin-left: auto;
  margin-top: 10px;
  bottom: 10px;
  right: 15px;
  
  border-radius: 50%;
  border: 0px;
  font-size: 20px;
  padding: 30px;
  background-color: #ff5400;
  background-image: linear-gradient(#ff5400, #ff5400);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  }

input.progress-submit:hover {
  background-color: #e94d00;
  background-image: linear-gradient(#e94d00, #e94d00);
}

td a {
  color: #1e7c82;
}

td a:hover {
  color: #135154;
}

td .sort-meta {
  display: none;
}

th img {
  margin-left: 10px;
  cursor: pointer;
}

select.flt {
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  min-width: 100px;
}

/* Dark theme */

@media (prefers-color-scheme: dark) {
  
  table {
    color: #ffffff;
  }
  
  tr.odd {
    background-color: #222222;
  }
  
  tr.even {
    background-color: #303030;
  }
  
  tr.finished.odd {
    background-color: #80a87b;
  }
  
  tr.finished.even {
    background-color: #72966c;
  }
  
}